<!DOCTYPE html>
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Home</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="d-flex justify-content-center">
    <table class="table table-striped" style="width: 50rem">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">VIN</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Body type</th>
            <th scope="col">Year</th>
            <th scope="col">Engine type</th>
            <th scope="col">Engine capacity</th>
            <th scope="col">Horsepower</th>
            <th scope="col">Transmission</th>
            <th scope="col">Mileage</th>
            <th scope="col">Color</th>
            <th scope="col">License plate</th>
            <th scope="col">Is used</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicles: ${vehicles}">
            <td th:text="${vehicles.id}"/>
            <td th:text="${vehicles.vin}"/>
            <td th:text="${vehicles.brand}"/>
            <td th:text="${vehicles.model}"/>
            <td th:text="${vehicles.bodyType}"/>
            <td th:text="${vehicles.year}"/>
            <td th:text="${vehicles.engineType}"/>
            <td th:text="${vehicles.engineCapacity}"/>
            <td th:text="${vehicles.horsepower}"/>
            <td th:text="${vehicles.transmission}"/>
            <td th:text="${vehicles.mileage}"/>
            <td th:text="${vehicles.color}"/>
            <td th:text="${vehicles.licensePlate}"/>
            <td th:text="${vehicles.isUsed}"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>