<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</head>
<body>

<div class="text-center">
    <h1>Sign up</h1>
</div>

<div class="vstack gap-2 col-md-4 mx-auto mt-5">
    <form method="post" th:object="${registerRequestDto}" enctype="multipart/form-data">

        <div th:fragment="createFragment">
            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="firstname">Firstname</label>
                <input class="form-control" id="firstname" name="firstname" th:value="${registerRequestDto.firstname}"
                       type="firstname">
            </div>

            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="lastname">Lastname</label>
                <input class="form-control" id="lastname" name="lastname" th:value="${registerRequestDto.lastname}"
                       type="lastname">
            </div>

            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" id="email" name="email" placeholder="test@gmail.com" th:value="${registerRequestDto.email}"
                       type="email">
            </div>

            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" th:value="${registerRequestDto.password}"
                       type="password">
            </div>

            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="phoneNumber">Phone number</label>
                <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+380555555555"th:value="${registerRequestDto.phoneNumber}"
                       type="phoneNumber">
            </div>

            <div class="mb-3">
                <label class="form-label" for="role">Role</label>
                <select class="form-select" id="role" name="role">
                    <option th:each="role: ${roles}"
                            th:selected="${registerRequestDto.role == role}"
                            th:text="${role}"
                            th:value="${role}">
                </select>
            </div>

            <div class="mb-3" th:if="${#httpServletRequest.requestURI.endsWith('register')}">
                <label class="form-label" for="file">Photo</label>
                <input class="form-control" id="file" name="file" type="file" accept="image/png, image/jpeg">
            </div>

        </div>

        <div class="text-center">
            <button class="btn btn-success" type="submit">Sign up</button>
        </div>

        <div th:if="${#fields.hasErrors()}">
            <div class="alert alert-danger mt-4">
                <ul>
                    <li th:each="error : ${#fields.errors()}" th:text="${error}"></li>
                </ul>
            </div>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger mt-4" role="alert">
            <li th:text="${errorMessage}"></li>
        </div>

    </form>

</div>

<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>